
#mapid {
  height: 400px;
  width: 60%;
  margin: auto;
}

h1 {
  text-align: left;
}

p {
  text-align:left;
  margin: auto;
  padding-top:
}
body {
  background: #D7EDFF;
}

@media screen and (max-width: 500px) {
  #mapid {
    margin-left: 0px;
    margin-right: 0px;
  }
