
#mapid {
  height: 400px;
  width: 60%;
  margin: auto;
}

h1 {
  text-align: left;
  align-content: center;
}

p {
  text-align:left;
  margin: auto;
}
body {
  background: #D7EDFF;
}

article {
  margin: auto;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 500px) {
  #mapid {
    margin-left: 0px;
    margin-right: 0px;
  }
}
